{% extends 'WeatherApp/base.html' %}

{% block content %}
<div style="font-family: sans-serif; line-height: 1.5; background-color: #f8f8f8; padding: 20px;">
    <p style="font-size: 18px; font-weight: bold;">WeatherApp: A Django-based PWA with Raspberry Pi support</p>
    <p style="font-size: 16px;">WeatherApp is an exciting project that combines several technologies to create a powerful yet simple weather application. One of the key technologies used in this project is Django, a high-level Python web framework that allows us to build complex web applications quickly and easily.</p>
    <p style="font-size: 16px;">In addition to Django, WeatherApp also uses progressive web app (PWA) technology, which means that the application can be installed on a user's device like a native app, but it runs inside a web browser. This makes it easy for users to access the app from their mobile devices without having to download and install a separate app.</p>
    <p style="font-size: 16px;">Another interesting aspect of WeatherApp is its use of Raspberry Pi as both a hosting platform for the app and a device for reading data from sensors. Raspberry Pi is a low-cost, single-board computer that can perform a wide range of tasks, including hosting web applications and collecting data from sensors.</p>
    <p style="font-size: 16px;">By combining these technologies, I have created a powerful and flexible weather application that can be easily accessed from anywhere using a mobile device. Whether you're checking the forecast before heading out for a hike or monitoring conditions at your home, WeatherApp is a great tool for staying informed about the weather.</p>
</div>

<div style="font-family: sans-serif; line-height: 1.5; background-color: #f8f8f8; padding: 20px;">
    <p style="font-size: 18px; font-weight: bold;">Resources used</p>
    <ul style="list-style-type: none; padding: 0;">
        <li style="font-size: 16px;"><a href="https://bbbootstrap.com/snippets/bootstrap-weather-info-template-19939290#">Weather template created by Aditi Gupta - Flaticon</a></li>
        <li style="font-size: 16px;"><a href="https://www.flaticon.com/authors/iconixar">Weather icons created by iconixar - Flaticon</a></li>
        <li style="font-size: 16px;"><a href="https://www.flaticon.com/free-icons/ui">App icon created by DinosoftLabs - Flaticon</a></li>
    </ul>
</div>
{% endblock %}